<div class="modal fade" id="loginCadastro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Cadastrar Usuário</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form #cadastroUsuario="ngForm" (ngSubmit)="onSubmit()">
                <div class="modal-body">
                    <div class="mb-3 form-group">
                        <label for="nome" class="form-label">Nome</label>
                        <input #inputNome="ngModel" type="text" class="form-control" name="nome" [(ngModel)]="nome"
                            required>
                    </div>
                    <div *ngIf="!inputNome.valid&&inputNome.touched" class="alert alert-danger">Campo Obrigatório</div>
                    <div class="mb-3 form-group">
                        <label for="emailCadastro" class="form-label">E-mail</label>
                        <input #inputEmail="ngModel" type="email" class="form-control" name="emailCadastro"
                            [(ngModel)]="email" required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
                        <div *ngIf="inputEmail.errors?.['required']&&inputSenha.touched" class="alert alert-danger">
                            Campo Obrigatório</div>
                        <div *ngIf="inputEmail.errors?.['pattern']&&inputSenha.touched" class="alert alert-danger">
                            Insira email válido</div>
                    </div>
                    <div class="mb-3 form-group">
                        <label for="senhaCadastro" class="form-label">Senha</label>
                        <input #inputSenha="ngModel" type="password" class="form-control" name="senhaCadastro"
                            [(ngModel)]="senha" required minlength="8">
                        <div *ngIf="inputSenha.errors?.['required']&&inputSenha.touched" class="alert alert-danger">
                            Campo Obrigatório</div>
                        <div *ngIf="inputSenha.errors?.['minlength']&&inputSenha.touched" class="alert alert-danger">
                            Mínimo de 8 caractéres</div>
                    </div>
                    <div class="mb-3 form-group">
                        <label for="senhaValida" class="form-label">Confirmar Senha</label>
                        <input #inputConfirmarSenha="ngModel" type="password" class="form-control" name="senhaValida"
                            [(ngModel)]="confirmarSenha">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                    <button type="reset" class="btn btn-primary">Limpar</button>
                </div>
            </form>
        </div>
    </div>
</div>