<div class="modal fade" id="loginCadastro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Cadastrar Usuário</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" name="nome" [(ngModel)]="nome">
                    </div>
                    <div class="mb-3">
                        <label for="emailCadastro" class="form-label">E-mail</label>
                        <input type="email" class="form-control" name="emailCadastro" [(ngModel)]="email">
                    </div>
                    <div class="mb-3">
                        <label for="senhaCadastro" class="form-label">Senha</label>
                        <input type="password" class="form-control" name="senhaCadastro" [(ngModel)]="senha">
                    </div>
                    <div class="mb-3">
                        <label for="senhaValida" class="form-label">Confirmar Senha</label>
                        <input type="password" class="form-control" name="senhaValida" [(ngModel)]="confirmarSenha">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>