<form #cadastroUsuario="ngForm" (ngSubmit)="onSubmit(cadastroUsuario)">
    <div class="card-body">
        <div class="mb-3 form-group">
            <label for="nome" class="form-label">Nome</label>
            <input #inputNome="ngModel" type="text" class="form-control" name="nome" [(ngModel)]="nome" required
                placeholder="Digite seu nome">
            <div *ngIf="!inputNome.valid&&inputNome.touched" class="alert alert-danger">Campo Obrigatório
            </div>
        </div>
        <div class="mb-3 form-group">
            <label for="emailCadastro" class="form-label">E-mail</label>
            <input #inputEmail="ngModel" type="email" class="form-control" name="emailCadastro" [(ngModel)]="email"
                required email labMAvailableEmail placeholder="exemplo@exemplo.com">
            <div *ngIf="inputEmail.errors?.['required']&&inputEmail.touched" class="alert alert-danger">
                Campo Obrigatório</div>
            <div *ngIf="inputEmail.errors?.['email']&&inputEmail.touched" class="alert alert-danger">
                Insira email válido</div>
            <div *ngIf="inputEmail.errors?.['availableEmail']&&inputEmail.touched" class="alert alert-danger">
                Email Indisponível</div>
        </div>
        <div class="mb-3 form-group">
            <label for="senhaCadastro" class="form-label">Senha</label>
            <input #inputSenha="ngModel" type="password" class="form-control" name="senhaCadastro" [(ngModel)]="senha"
                required labMMatchingPassword value="" [senha]="inputConfirmarSenha.value" minlength="8"
                placeholder="Mínimo de 8 caracteres">
            <div *ngIf="inputSenha.errors?.['required']&&inputSenha.touched" class="alert alert-danger">
                Campo Obrigatório</div>
            <div *ngIf="inputSenha.errors?.['minlength']&&inputSenha.touched" class="alert alert-danger">
                Mínimo de 8 caracteres</div>
        </div>
        <div class="mb-3 form-group">
            <label for="senhaValida" class="form-label">Confirmar Senha</label>
            <input #inputConfirmarSenha="ngModel" type="password" class="form-control" name="senhaValida"
                placeholder="Insira a senha novamente" [(ngModel)]="confirmarSenha" required labMMatchingPassword
                value="" [senha]="inputSenha.value">
            <div *ngIf="inputConfirmarSenha.errors?.['required']&&inputConfirmarSenha.touched"
                class="alert alert-danger">Campo
                Obrigatório</div>
            <div *ngIf="inputConfirmarSenha.errors?.['matchingPassword']&&!inputConfirmarSenha.errors?.['required']"
                class="alert alert-danger">Senhas não conferem</div>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary" [disabled]="!cadastroUsuario.valid">Confirmar</button>
        <button type="reset" class="btn btn-primary">Limpar</button>
    </div>
</form>