<div class="collapse collapse-horizontal h-100" id="sideMenu">
    <div class="d-flex flex-column bg-dark text-center text-white p-4" style="height:100%;width: 15rem;">
        <!-- <div class="d-flex container flex-column text-white"> -->
        <p>
            Geral
        </p>
        <!-- <div class="d-flex flex-column"> -->
        <button class="btn btn-outline-primary mb-3" routerLink="inicio" routerLinkActive="selected">Início</button>
        <button class="btn btn-outline-primary mb-3" routerLink="paciente" routerLinkActive="selected">Cadastro de
            Pacientes</button>
        <!-- </div> -->
        <!-- <div class="text-white text-center mb-5"> -->

        <button class="btn btn-outline-primary mb-3" routerLink="consulta" routerLinkActive="selected">Cadastro de Consulta</button>
        <button class="btn btn-outline-primary mb-3" routerLink="exame" routerLinkActive="selected">Cadastro de
            Exames</button>
        <!-- </div> -->
        <!-- </div> -->
    </div>
</div>