<labM-toolbar (loading)="recebedorEvento($event)"></labM-toolbar>
<div class="d-flex">
    <labM-side-menu  class="sidebar"></labM-side-menu>
    <div class="content-container">
        <ng-template #templateLoading>
            <div class="d-flex flex-grow-1 justify-content-center align-items-center h-100" role="status">
                <span class=" spinner-border text-dark"></span>
            </div>
        </ng-template>
        <div *ngIf="!loading else templateLoading" class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>