<form class="card-body">
    <div class="mb-3">
        <label for="loginEmail" class="form-label">E-mail</label>
        <input type="email" class="form-control" name="loginEmail" [(ngModel)]="email">
    </div>
    <div class="mb-3">
        <label for="loginSenha" class="form-label">Senha</label>
        <input type="password" class="form-control" name="loginSenha" [(ngModel)]="senha">
    </div>
    <div name="loginAlerts"></div>
    <div class="row">
        <button type="submit" class="btn btn-primary mb-3">Entrar</button>
        <a class="text-center" (click)="placeHolderResetSenha()" href="">Esqueceu sua senha?</a>
    </div>
</form>