<div class="container row col-4">
    <div class="d-flex justify-content-between">
        <h1>Login</h1>
        <button type="button" class="btn btn-outline-info btn-sm">Criar Conta</button>
    </div>
    <form class="row">
        <div class="mb-3">
            <label for="loginEmail" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="loginEmail">
        </div>
        <div class="mb-3">
            <label for="loginSenha" class="form-label">Senha</label>
            <input type="password" class="form-control" id="loginSenha">
        </div>
        <div name="loginAlerts"></div>
        <button type="submit" class="btn btn-primary">Entrar</button>
        <a class="text-center" href="">Esqueceu sua senha?</a>
    </form>
</div>