<!-- estatísticas -->
<div class="row">
    <div *ngFor="let estatistica of estatisticas;" class="card" style="width: 12rem;">
        <img src={{estatistica.img}} class="card-img-top" alt="...">
        <div class="card-body row text-center">
            <p class="card-text">{{estatistica.nome}}</p>
            <span>{{estatistica.quantidade}}</span>
        </div>
    </div>
</div>
<!-- busca de pacientes -->
<div>
    <input type="text">
    <button> Buscar </button>
</div>
<!-- lista de pacientes -->
<ul>
    <li>
        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                Toggle width collapse
            </button>
        </p>
        <div style="min-height: 120px;">
            <div class="collapse collapse-horizontal" id="collapseWidthExample">
                <div class="card card-body" style="width: 300px;">
                    This is some placeholder content for a horizontal collapse. It's hidden by default and shown when
                    triggered.
                </div>
            </div>
        </div>
    </li>
</ul>