<div class="card border border-primary"  style="width: 12rem;">
    <button [routerLink]="['../paciente',paciente.id]" class="btn btn-primary border border-primary card-header text-center d-flex flex-column align-items-center gap-1">
        <a>{{paciente.nome}}</a>
        <img class="rounded-circle" style="width:3rem" src="{{paciente.imagem?paciente.imagem:'../../../../../assets/image-placeholder.svg'}}">
    </button>
    <div class="card-body text-center">
        <p>{{paciente.dataNascimento|idade}} Anos</p>
        <p>{{paciente.email?paciente.email:paciente.telefone}}</p>
        <p>{{paciente.convenio?paciente.convenio:"Sem Convênio"}}</p>
    </div>
    <div class="card-footer text-end">
        <button class="btn btn-link" [routerLink]="['../paciente',paciente.id]">Editar</button> <!-- cartão inteiro -->
    </div>
</div>