<div class="container">
    <labM-barra-pesquisa (listaPacientes)="recebedorEvento($event)" data-bs-toggle="collapse"
        data-bs-target="#listaPacientes"></labM-barra-pesquisa>
    <ul *ngFor="let paciente of pacientes" class="collapse vertical-group" id="listaPacientes">
        <li>
            <button (click)="colocaId(paciente.id,paciente.nome)"
                class="dropdown-item bg-light">{{paciente.nome}}</button>
        </li>
    </ul>
</div>
<form #cadastroExame="ngForm" (ngSubmit)="onSubmit(cadastroExame,$event.submitter.id)"
    class="container p-3 mt-3 border">
    <div class="d-flex flex-column justify-content-center ">
        <h3 *ngIf="pacienteNome" class="text-center">{{pacienteNome}}</h3>
        <hr *ngIf="pacienteNome">
        <div class="mb-3 form-group d-flex gap-3">
            <div class="d-flex flex-column flex-grow-1">
                <label for="nomeExame" class="form-label">Exame</label>
                <input #inputNomeExame="ngModel" type="text" class="form-control" name="nomeExame"
                    [(ngModel)]="nomeExame" required maxlength="64" minlength="8" placeholder="Informe o nome do exame">
                <div *ngIf="inputNomeExame.errors?.['required']&&inputNomeExame.touched" class="alert alert-danger">
                    Campo Obrigatório</div>
                <div *ngIf="inputNomeExame.errors?.['minlength']&&inputNomeExame.touched" class="alert alert-danger">
                    Mínimo de 8 caracteres</div>
            </div>
            <div class="d-flex flex-column flex-grow-2">
                <label for="dataExame" class="form-label">Data de Consulta</label>
                <input #inputData="ngModel" type="date" [placeholder]="dataExame" class="form-control" name="dataExame"
                    [(ngModel)]="dataExame" required>
                <div *ngIf="inputData.errors?.['required']&&inputData.touched" class="alert alert-danger">
                    Campo Obrigatório</div>
            </div>
            <div class="d-flex flex-column flex-grow-2">
                <label for="horaExame" class="form-label">Hora de Consulta</label>
                <input #inputHora="ngModel" type="time" class="form-control text-center" name="horaExame"
                    [(ngModel)]="horaExame" required>
                <div *ngIf="inputHora.errors?.['required']&&inputHora.touched" class="alert alert-danger">
                    Campo Obrigatório</div>
            </div>
        </div>
        <div class="mb-3 form-group d-flex gap-3">
            <div class="d-flex flex-column flex-grow-1">
                <label for="tipo" class="form-label">Tipo de Exame</label>
                <input #inputTipo="ngModel" type="text" class="form-control" name="Tipo" [(ngModel)]="tipo" required
                    maxlength="32" minlength="4" placeholder="Imagem, Laboratorial">
                <div *ngIf="inputTipo.errors?.['required']&&inputTipo.touched" class="alert alert-danger">
                    Campo Obrigatório</div>
                <div *ngIf="inputTipo.errors?.['minlength']&&inputTipo.touched" class="alert alert-danger">
                    Mínimo de 4 caracteres</div>
            </div>
            <div class="d-flex flex-column flex-grow-1">
                <label for="laboratorio" class="form-label">Laboratório</label>
                <input #inputLaboratorio="ngModel" type="text" class="form-control" name="laboratorio"
                    [(ngModel)]="laboratorio" required maxlength="32" minlength="4" placeholder="Nome do Laboratório">
                <div *ngIf="inputLaboratorio.errors?.['required']&&inputLaboratorio.touched" class="alert alert-danger">
                    Campo Obrigatório</div>
                <div *ngIf="inputLaboratorio.errors?.['minlength']&&inputLaboratorio.touched"
                    class="alert alert-danger">
                    Mínimo de 4 letras</div>
            </div>
        </div>
        <div class="mb-3 form-group d-flex gap-3">
            <div class="d-flex flex-column flex-grow-1">
                <label for="url" class="form-label">URL de Exame</label>
                <input #inputUrl="ngModel" type="text" class="form-control" name="url" [(ngModel)]="url"
                    placeholder="www.example.com/example.pdf">
            </div>
        </div>
        <div class="mb-3 form-group d-flex gap-3">
            <div class="d-flex flex-column flex-grow-1">
                <label for="resultados" class="form-label">Resultados</label>
                <textarea #inputResultados="ngModel" type="text" class="form-control" name="resultados"
                    style="resize:none; height:10rem" [(ngModel)]="resultados" placeholder="Resultados do exame"
                    required minlength="16" maxlength="1024"></textarea>
                <div *ngIf="inputResultados.errors?.['required']&&inputResultados.touched" class="alert alert-danger">
                    Campo Obrigatório</div>
                <div *ngIf="inputResultados.errors?.['minlength']&&inputResultados.touched" class="alert alert-danger">
                    Mínimo de 16 caracteres</div>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="d-flex gap-2">
                <button id="adicionar" type="submit" class="btn btn-primary"
                    [disabled]="cadastroExame.valid&&controle=='adicionar'?false:true">Adicionar</button>
                <button id="editar" type="submit" class="btn btn-primary"
                    [disabled]="!cadastroExame.valid||controle!='editar'">Editar</button>
                <button id="deletar" type="submit" class="btn btn-primary"
                    [disabled]="controle!='editar'">Deletar</button>
            </div>
            <button type="reset" class="btn btn-primary">Limpar</button>
        </div>
    </div>
</form>