<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="btn navbar-toggler-icon" type="button" data-bs-toggle="collapse"
            data-bs-target="#sideMenu" aria-expanded="false" aria-controls="sideMenu">

        </button>
        <p class="navbar-brand" href="#">
            Nome da Página
        </p>
        <div class="d-flex nav-text text-white">
            <p>
                Usuario
            </p>
            <img src="">
        </div>
    </div>
</nav>