<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler-icon btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#menuLateral">
        </button>
        <p class="navbar-brand" href="#">
            Nome da Página
        </p>
        <div class="d-flex nav-text text-white">
            <p>
                Usuario
            </p>
            <img src="logo">
        </div>
    </div>

</nav>
<div class="bg-dark text-white d-flex" style="max-width: 15rem">
    <div class="collapse collapse-horizontal" style="height: 100rem" id="menuLateral">
        <div class="row">
            <button>Texto</button>
            <button>Texto</button>
        </div>
    </div>
</div>