<div class="collapse collapse-horizontal h-100" id="sideMenu">
    <div class="d-flex flex-column bg-dark text-center text-white p-4" style="height:100%;width: 15rem;">
        <nav class="d-flex flex-column flex-grow-1">
            <button class="btn btn-outline-primary mb-3" routerLink="inicio" routerLinkActive="selected">Início</button>
            <button class="btn btn-outline-primary mb-3" routerLink="paciente" routerLinkActive="selected">Cadastro de
                Pacientes</button>
            <button class="btn btn-outline-primary mb-3" routerLink="consulta" routerLinkActive="selected">Cadastro de
                Consulta</button>
            <button class="btn btn-outline-primary mb-3" routerLink="exame" routerLinkActive="selected">Cadastro de
                Exames</button>
            <button class="btn btn-outline-primary mb-3" routerLink="prontuarios" routerLinkActive="selected">Lista de
                Prontuários</button>
            <button class="btn btn-outline-primary mb-3" (click)="logout()" routerLink="../login"
                routerLinkActive="selected">
                Sair</button>
        </nav>
        <div>
            <img src="../../../assets/logo.svg">
        </div>
    </div>
</div>