<form #cadastroPaciente="ngForm" (ngSubmit)="onSubmit(cadastroPaciente)" class="container p-3 mt-3 border">
    <div class="d-flex flex-column justify-content-center">
        <div class="mb-3 form-group d-flex gap-3">
            <div class="d-flex flex-column flex-grow-1">
                <label for="nome" class="form-label">Nome</label>
                <input #inputNome="ngModel" type="text" class="form-control" name="nome" [(ngModel)]="nome" required
                    maxlength="64" minlength="8" placeholder="Digite seu nome">
                <div *ngIf="inputNome.errors?.['required']&&inputNome.touched" class="alert alert-danger">
                    Campo Obrigatório</div>
                <div *ngIf="inputNome.errors?.['minlength']&&inputNome.touched" class="alert alert-danger">
                    Mínimo de 8 letras</div>
            </div>
            <div class="d-flex flex-column flex-grow-1">
                <label for="genero" class="form-label">Gênero</label>
                <select required #inputGenero="ngModel" class="form-select" name="genero" [(ngModel)]="genero">
                    <option value="">Escolha</option>
                    <option value="m">Masculino</option>
                    <option value="f">Feminino</option>
                </select>
                <!-- ngClass para erro -->
            </div>
            <div class="d-flex flex-column flex-grow-1">
                <label for="dataNascimento" class="form-label">Data de Nascimento</label>
                <input #inputNascimento="ngModel" type="date" class="form-control" name="nascimento"
                    [(ngModel)]="dataNascimento" required>
            </div>
        </div>
        <div class="mb-3 form-group d-flex gap-3">
            <div class="d-flex flex-column flex-grow-1">
                <label for="cpf" class="form-label">CPF</label>
                <input #inputCpf="ngModel" type="text" class="form-control" name="cpf" [(ngModel)]="cpf"
                    placeholder="000.000.000-00" required>
                <div *ngIf="inputCpf.errors?.['required']&&inputCpf.touched" class="alert alert-danger">
                    Campo Obrigatório</div>
            </div>
            <!-- validação de CPF -->
            <div class="d-flex flex-column flex-grow-1">
                <label for="rg" class="form-label">RG e Orgão Expedidor</label>
                <div class="input-group">
                    <input #inputRg="ngModel" type="text" class="form-control" name="rg" [(ngModel)]="rg" required
                        maxlength="20" placeholder="RG">
                    <input #inputOrgExpedidor="ngModel" type="text" class="form-control" name="orgEx"
                        [(ngModel)]="orgEx" required placeholder="SSP-SP">
                </div>
                <div *ngIf="inputRg.errors?.['required']&&inputRg.touched" class="alert alert-danger">
                    Campo Obrigatório</div>
            </div>
            <div class="d-flex flex-column flex-grow-1">
                <label for="estadoCivil" class="form-label">Estado Civil</label>
                <select required #inputEstadoCivil="ngModel" class="form-select" name="estadoCivil"
                    [(ngModel)]="estadoCivil">
                    <option value="">Escolha</option>
                    <option value="solteiro">Solteir(o/a)</option>
                    <option value="casado">Casad(o/a)</option>
                    <option value="separado">Separad(o/a)</option>
                    <option value="divorciado">Divorciad(o/a)</option>
                    <option value="viuvo">Viuv(o/a)</option>
                </select>
                <!-- ngClass para erro -->
            </div>

        </div>
        <div class="mb-3 form-group d-flex gap-3">
            <div class="d-flex flex-column flex-grow-1 ">
                <label for="Telefone" class="form-label">Telefone</label>
                <input #inputTelefone="ngModel" type="tel" class="form-control" name="telefone" [(ngModel)]="telefone"
                    required pattern="^\(?[1-9]{2}\)? ?(?:[2-8]|9[1-9])[0-9]{3}\-?[0-9]{4}[0-9]?$"
                    placeholder="(99)99999-9999">
                <div *ngIf="inputTelefone.errors?.['required']&&inputTelefone.touched" class="alert alert-danger">
                    Campo Obrigatório</div>
                <div *ngIf="inputTelefone.errors?.['pattern']&&inputTelefone.touched" class="alert alert-danger">
                    Formato Incorreto, símbolos são opcionais</div>
            </div>
            <div class="d-flex flex-column flex-grow-1">
                <label for="emailCadastro" class="form-label">E-mail</label>
                <input #inputEmail="ngModel" type="email" class="form-control" name="emailCadastro" [(ngModel)]="email"
                    email placeholder="exemplo@exemplo.com">
                <div *ngIf="inputEmail.errors?.['email']&&inputEmail.touched" class="alert alert-danger">
                    Insira email válido</div>
            </div>
            <div class="d-flex flex-column flex-grow-1">
                <label for="naturalidade" class="form-label">Naturalidade</label>
                <input #inputNaturalidade="ngModel" type="text" class="form-control" name="naturalidade"
                    [(ngModel)]="naturalidade" required maxlength="64" minlength="8" placeholder="País de Nascimento">
                <div *ngIf="inputNaturalidade.errors?.['required']&&inputNaturalidade.touched"
                    class="alert alert-danger">
                    Campo Obrigatório</div>
                <div *ngIf="inputNaturalidade.errors?.['minlength']&&inputNaturalidade.touched"
                    class="alert alert-danger">
                    Mínimo de 8 letras</div>
            </div>
        </div>
        <div class="mb-3 form-group d-flex gap-3">
            <div class="d-flex flex-column flex-grow-1 ">
                <label for="contato" class="form-label">Contato para Emergência</label>
                <input #inputContato="ngModel" type="tel" class="form-control" name="contato" [(ngModel)]="contato"
                    required pattern="^\(?[1-9]{2}\)? ?(?:[2-8]|9[1-9])[0-9]{3}\-?[0-9]{4}[0-9]?$"
                    placeholder="(99)99999-9999">
                <div *ngIf="inputContato.errors?.['required']&&inputContato.touched" class="alert alert-danger">
                    Campo Obrigatório</div>
                <div *ngIf="inputContato.errors?.['pattern']&&inputContato.touched" class="alert alert-danger">
                    Formato Incorreto, símbolos são opcionais</div>
            </div>
        </div>
        <div class="mb-3 form-group d-flex gap-3">
            <div class="flex-grow-1">
                <label class="form-label" for="alergias">Alergias</label>
                <textarea class="form-control" style="resize:none; height:7rem" placeholder="Liste as alergias"
                    name="alergias"></textarea>
            </div>
            <div class="flex-grow-1" style="resize:disable">
                <label class="form-label" for="cuidados">Cuidados Especiais</label>
                <textarea class="form-control" style="resize:none; height:7rem"
                    placeholder="Descreva os cuidados necessários" name="cuidados"></textarea>
            </div>
            <!-- ngModel typescript -->
        </div>
        <div class="mb-3 form-group d-flex gap-3">
            <div class="d-flex flex-column flex-grow-1">
                <label for="convenio" class="form-label">Convênio</label>
                <input #inputConvenio="ngModel" type="text" class="form-control" name="convenio" [(ngModel)]="convenio"
                    placeholder="Nome do Convênio">
            </div>
            <div class="d-flex flex-column flex-grow-1">
                <label for="convenioNumero" class="form-label">Número do Convênio</label>
                <input #inputConvenio="ngModel" type="number" class="form-control" name="convenioNumero"
                    [(ngModel)]="convenioNumero" placeholder="Número do Convênio">
            </div>
            <div class="d-flex flex-column flex-grow-1">
                <label for="convenioValidade" class="form-label">Validade do Convênio</label>
                <input #inputConvenio="ngModel" type="date" class="form-control" name="convenioValidade"
                    [(ngModel)]="convenioValidade" placeholder="Validade do Convênio">
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary" [disabled]="!cadastroPaciente.valid">Confirmar</button>
            <button type="reset" class="btn btn-primary">Limpar</button>
        </div>
    </div>
</form>